/* F15A29 */

:root {
    --main-color: #F15A29;
  }

  * * {
    box-sizing: border-box;
  }

 body {
    padding: 0;
    margin: 0;
  }


  .hero{
      background: url(./images/assets/backgrounds/landing.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;

  }


  .menu{
    padding: 50px 0 0 50px;
  }

  .logo{
      margin: 100px 0 0 40%;
  }

  .hero-content p{
      text-align: center;
      font-size: 40px;
      font-weight: 100;
      color: #fff;
  }

  /* Top food section */

  .foodtop{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;  
}


.flex-item {
    text-align: center;
    flex-basis: 150px;
    flex-grow: 1;
    font-style: italic;
    font-size: 30px;
    /* height: 100%; */
    font-weight: 500;
    color: #fff;
  }
  


.time{
    font-style: normal;
}


.happy-hour {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: #505050;
    text-align: center;
    height: 120px;
}


.party-time {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F15A29;
    text-align: center;
    height: 120px;
}


#breakfast {
    background-image: url("./images/assets/foodtop/breakfast.jpg");
    background-size: cover;
    align-items: center;
}

#breakfast p, #lunch p, #dinner p{
    margin: 25% 0;
}

#lunch {
    background-image: url("./images/assets/foodtop/lunch.jpg");
    background-size: cover;
    align-items: center;
}

#dinner {
    background-image: url("./images/assets/foodtop/dinner.jpg");
    background-size: cover;
    align-items: center;
}

#breakfast:hover,
 #lunch:hover,
 #dinner:hover { 
    opacity: .5;
}

/* Fast food section */

.fast-food{
    padding: 100px;
    /* flex-wrap: wrap; */

}

.container{
    display: flex;
    max-width: 100%;  
    margin-bottom: 100px;
}

.img-sec{
    /* max-width: 50%; */
    /* float: right; */
    padding: 20px;
    box-shadow: 0px 5px 10px 0px #c4c4c4;
}

.img2{
    width: 100% !important;
}

.content-sec{
    width: 50%;
    padding: 0 100px;
    color: #505050;
}

.content-sec h1{
    font-size: 38px;
}

.content-sec h3{
    font-size: 20px;
    font-weight: bold;
}

.content-sec p{
    font-size: normal;
    color: #505050;
    line-height: 25px;
    font-weight: lighter;
}
  
  .button{
      display: flex;
      color: #F15A29;
      border: 1px solid #F15A29;
      width: 40%;
      padding: 0 10px;
      align-items: center;
      height: 50px;
  }

  .button p{
    color: #F15A29;
    font-weight: bold;
  }
  .arrow{
      width: 30%;
  }
  .arrow img{
      width: 30px;
      height: 20px;
      margin: 8px 0 0 20px;
  }

  .bit{
float: right;
}

.align-items{
   text-align: right;
}

.align-item p{
    text-align: right;
}

.sec2{
    display: flex;
    /* height: 100%; */
}

.bunner{
    background-image: url("./images/assets/backgrounds/foodsBg.jpg");
    background-size: cover;
    align-items: center;
    padding: 100px 120px;
    opacity: .9;
}

.bunner-contents{
    /* margin: 100px 200px; */
    background: #fff;
}

.bunner-title{
    display: flex;
}

.but{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    border: .5px solid #c4c4c4;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    background: #E3E3E3;
    color: #505050;
}

.but:hover{
    border: none;
    color: #F15A29;
    background: #fff;
}

.bunner-imgs{
    display: flex;
}

.bunner-img{
    display: flex;
}

.food-img{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    margin: 50px 30px;
}


.arrows{
    width: 30%;
    text-align: center;
    margin: 10% 0;
}
.arrows img{
    width: 30px;
    height: 40px;
}

.food-img p{
    /* padding-top: 10px; */
    font-size: 18px;
    color: #F15A29;
    font-weight: bold;
}

.customer{
    background: #fff;
    background-size: cover;
    align-items: center;
    padding: 100px 150px;
    opacity: .9;
}

.cust-reviews{
    box-shadow: 0px 5px 10px 0px #c4c4c4;
    padding: 10px;
    display: flex;
    text-align: center;
}

.happy-cust{
    width: 60%;
    padding: 0 40px;
}

.about-cust{
    width: 40%;
    border-left: .5px solid #c4c4c4;
    padding: 0 20px;
    text-align: center;
}


.arrowss {
    margin: 0 15px 20px 15px;
    border: solid #F15A29;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }


  /* Top foods arrows */
  /* .arrows {
    margin: 0 15px 20px 15px;
    border: solid #F15A29;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  } */


  .cust-reviews h3{
      font-size: 20px;
      color: #F15A29;
  }

  .cust-reviews strong{
      color: #505050;
  }

  .cust-reviews p{
      color: #505050;
      line-height: 28px;
  }

  .newsletter{
    background-image: url("./images/assets/backgrounds/subscribe.jpg");
    background-size: cover;
    align-items: center;
    padding: 100px 120px;
    opacity: .9;
    text-align: center;
  }

  .newsletter p{
      color: #fff;
      font-size: 30px;
      font-weight: bold;
  }

  .inputs{
      display: flex;
      width: 100%;
      padding: 0 23%;
      /* align-items: center; */
  }

  input{
      font-size: 18px;
      padding: 13px 100px 13px 13px;
      width: 100%;
      opacity: .2;
      color: #fff;
      border-radius: 3px;
      border: none;
  }

  button{
    font-size: 18px;
    border: none;
    padding: 13px 50px;
    margin-left: 20px;
    font-weight: bold;
    background: #F15A29;
    border-radius: 3px;
    width: 100%;
    color: #fff;
}

::placeholder {
    color: rgb(54, 47, 47);
}

footer{
    background: #F15A29;
}

footer p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.footer-logo h1{
    color: #fff;
    height: 40px;
}

.footer-logo img{
    height: 50px;
    margin: 15px 20px 0 0;
}

.footer-logo, .social{
    display: flex;
    padding: 20px 43%;
}

.icons{
    margin-left: 20px;
}

.last{
    font-size: 15px;
    padding-bottom: 30px;
    font-weight: normal;
}

/* menu */

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }