/* F15A29 */

:root {
    --main-color: #F15A29;
  }

 body {
    /* color: var(--main-color); */
    padding: 0;
    margin: 0;
    /* font-weight: bold; */
  }

  /* p{
      font-weight: bold;
      font-size: 15px;
      color: #505050;
  } */

  .hero{
      background: url(./images/assets/backgrounds/landing.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;

  }


  .menu{
    padding: 50px 0 0 50px;
  }

  .logo{
      margin: 100px 0 0 40%;
  }

  .hero-content p{
      text-align: center;
      font-size: 40px;
      font-weight: 100;
      color: #fff;
  }

  /* Top food section */